load 'fighter'

<%= player_1 = Fighter.new @player_1_name %>
<%= player_2 = Fighter.new @player_2_name %>

<center>
<h1><%= @player_1_name %> vs. <%= @player_2_name %></h1>
</center>


<%= @player_1_name.name %>:<%= @player_1_name.hp %>Hit Points.
