
<center>
<h1><%= @game.player1.name %> vs. <%= @game.player2.name %></h1>
</center>

<center>
<h2><%= @game.active_player.name %> turn</h2>
</center>

<%= @game.player1.name %>: <%= @game.player1.hp %> Hit Points
<%= @game.player2.name %>: <%= @game.player2.hp %> Hit Points


<form action="/attack" method="get">
  <input type="submit" value="Scratch">
</form>
